@page "/change-password"
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-auto">
            <h3>Добавить пользователя</h3>
            <EditForm EditContext="_context" OnSubmit="Submit">
                <DataAnnotationsValidator/>
                <div class="mb-3 form-check">
                    <label for="password" class="form-label">Старый пароль:</label>
                    <InputText type="password" id="password" class="form-control" @bind-Value="_request.Password"/>
                    <ValidationMessage For="@(() => _request.Password)"/>
                </div>
                
                <div class="mb-3 form-check">
                    <label for="password" class="form-label">Новый пароль:</label>
                    <InputText type="password" id="password" class="form-control" @bind-Value="_request.NewPassword"/>
                    <ValidationMessage For="@(() => _request.Password)"/>
                </div>
                
                <div class="mb-3 form-check">
                    <label for="repeat-password" class="form-label">Повторите пароль:</label>
                    <InputText type="password" id="repeat-password" class="form-control" @bind-Value="_request.ConfirmPassword"/>
                    <ValidationMessage For="@(() => _request.ConfirmPassword)"/>
                </div>

                <div class="validation-message">@_errorMessage</div>
                <button type="submit" class="btn btn-primary"
                        disabled="@(!_context.IsModified() || !_context.Validate())">Вход
                </button>
            </EditForm>
        </div>
    </div>
</div>